<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.albert.auth.mapper.SysAuthorityMapper">
    <resultMap id="SysAuthorityEntityMap" type="com.albert.auth.entity.SysAuthorityEntity">
        <result property="id" column="id"/>
        <result property="authorityName" column="authority_name"/>
        <result property="version" column="version_no"/>
        <result property="createTime" column="create_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>


    <select id="findSysAuthority" resultMap="SysAuthorityEntityMap">
        SELECT id,
               authority_name,
               version_no,
               create_time,
               create_by,
               update_time,
               update_by
        FROM develop.sys_authority
    </select>
    <select id="findSysAuthorityById" resultMap="SysAuthorityEntityMap">
        SELECT id,
               authority_name,
               version_no,
               create_time,
               create_by,
               update_time,
               update_by
        FROM develop.sys_authority a
        WHERE a.id = #{id}
    </select>

    <insert id="addSysAuthority" parameterType="com.albert.auth.entity.SysAuthorityEntity">
        INSERT INTO develop.sys_authority
        (id,
         authority_name,
         version_no,
         create_time,
         create_by,
         update_time,
         update_by)
        VALUES (#{id},
                #{authorityName},
                '1',
                #{createTime},
                #{createBy},
                #{updateTime},
                #{updateBy})
    </insert>
    <update id="updateSysAuthority" parameterType="com.albert.auth.entity.SysAuthorityEntity">
        UPDATE develop.sys_authority a
        SET authority_name = #{authorityName},
            version_no=version_no + 1,
            update_time= #{updateTime},
            create_by      = #{updateBy}
        WHERE a.id = #{id}
          AND a.version_no = #{version}
    </update>
    <delete id="deleteSysAuthorityById">
        DELETE
        FROM develop.sys_authority a
        WHERE a.id = #{id}
    </delete>
</mapper>